

        <label><strong>First Name:</strong></label> <br>
        <%= @profile.first_name %> <br>
        <label><strong>Last Name:</strong></label> <br>
        <%= @profile.last_name %> <br>
        <label><strong>Age:</strong></label> <br>
        <%= @profile.phone %> <br>
        <label><strong>Education:</strong></label> <br>
        <%= @profile.address1 %> <br> <br>
