 <%= render 'shared/nav' %>

<div> </div>

<div> </div>



<form>
  <div class="container">
    <div class="row">
        <div class="col">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email   ">
        </div>
        <div class="col">
        <div class= "smallerbutton">
            <button type="button" class="btn btns"><%= link_to 'Email', new_email_model_path %> 
            </button>
        </div>
      </div>
    </div>
   </div>
</form>