<h3 class="text-center">The route map page</h3>


<div class="border border-primary">
    <p>map goes here</p>
</div>


<hr>
<div>
    <p>tool bar with selection from previous page goes here</p>
</div>

<div>
    <p>this filters above list
    </p> 
    <%= link_to 'Edit', new_location_path, class: "btn btn-primary " %>
</div>