<a href="/users/sign_in" class="splash">
	<div class="row">
		<div class="col-md-12 ">
			<div class="jumbotron ">
				<h2 class="splash-head">
					MID<strong class="name">P</strong>OINT
				</h2>
        <%= image_tag("logo-transparent-new.png", class: "photo-splash") %>
				<div class="col-md-6 offset-md-3">
					<div class="container">
						<h4>
						This is the app for two people who want find a conveniet location to meet up which would lay between two addresses.
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</a>