
	<div class="row">
		<div class="col-md-12 ">
			<div class="jumbotron splash">
				<h2 class="splash-head">
					Mid Point
				</h2>
        <%= image_tag("logo.jpg", width: "355", height: "355", class: "photo") %>
				<p>
					This is the app for two people who want find a conveniet location to meet up which would lay between two addresses.
				</p>
			</div>
		</div>
	</div>
