<a href="/users/sign_in">
	<div class="row splash">
		<div class="col-md-12 ">
			<div class="jumbotron ">
				<h2 class="splash-head">
					MID<strong class="name">P</strong>OINT
				</h2>
        <%= image_tag("logo-icon.png", class: "photo") %>
				<div class="col-md-6 offset-md-3">
					<p class="splash-pitch">GETTING THERE IS HALF THE BATTLE</p><br>
					<p>
					This is the app for two people who want find a conveniet location to meet up which would lay between two addresses.
				</p>
				</div>
			</div>
		</div>
	</div>
</a>