/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.3em;
  background-color: rgb(148, 146, 146);
}

.jumbotron {
  height: 100% !important;
}

#container-size {
  height: 100%;
}

.splash {
  margin: .5em;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.splash:hover {
  text-decoration: none;
  color: black;
}

.splash-head {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 3em;
  padding-top: 0.4em;
}

.splash-pitch {
  font-size: 1.5em;
  color: #F38A2D;
}

.photo {
  height: 2.3em;
  width: 1.9em;
}

.photo-splash {
  height: 75%;
  width: 55%;
}

.nav-bar {
  background-color: #F38A2D;
  padding-bottom: 2em;
  color: black;
}

.nav-links {
  color: black;
  font-size: 1.3em;
  padding-left: 1em;
}

.nav-links:hover {
  color: black;
  font-size: 1em;
}

.btns {
  background-color: #F38A2D;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: rgb(51, 50, 50);
  height: 2.2em;
  color: rgb(51, 50, 50);
}

.btns-cancel {
  background-color: rgb(116, 113, 113);
  border-radius: 5px;
  border-color: rgb(51, 50, 50);
  height: 2.3em;
  color: #F38A2D;
}

.btns:hover {
  background-color: rgb(190, 110, 40);
}

.name {
  color: #F38A2D;
}

.devise-links {
  color: rgb(51, 50, 50);
}

.devise-head {
  color: rgb(51, 50, 50);
  text-align: center;
}

.devise-links:hover {
  text-decoration: none;
  color: #F38A2D;
}

.hidden {
  display: none;
}

form {
  padding-top: 3em;

}