// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button .smallerbutton {
    width: 100px;
}

button {
    width: 150px;
}
.top {
    padding-top: 50px;
}


